// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#letters-align li{
  display: inline;
}

.letters-container{
  margin-top: 50px;
}

.container{
  text-align: center;
}

li{
  background-color: rgb(0, 175, 120);
  padding: 20px;
  font-weight: bold;
  color: white;
  box-shadow: 5px 10px;
}

form{
  margin: 10px 400px;
}

.container p{
  margin-top: 40px;
}

.container h1{
  margin-top: 40px;
}
